<form [formGroup]="bikeForm">
  <div>
    <label for = "id">id: </label>
    <input
      matTooltip="Enter the ID of the bike you would like to edit"
      id = "id" type = "number" formControlName = "id" [appFocusStyle]="'dotted lightgreen'">
  </div>
  <div>
    <label for = "make">Make: </label>
    <input
      matTooltip="Enter the make of the bike"
      id = "make" type = "text" formControlName = "make" [appFocusStyle]="'solid #40E0D0'">
  </div>
  <div>
    <label for = "model">Model: </label>
    <input
      matTooltip="Enter the model for the bike"
      id = "model" type = "text" formControlName = "model" [appFocusStyle]="'dotted lightgreen'">
  </div>
  <div>
    <label for = "year">Year: </label>
    <input
      matTooltip="Enter the year for the bike"
      id = "year" type = "number" formControlName = "year" [appFocusStyle]="'solid #40E0D0'">
  </div>
  <div>
    <label for = "streetLegal">Street Legal Status: </label>
    <input
      matTooltip="Enter the street legal status you want the bike changed to"
      id = "streetLegal" type = "checkbox" formControlName = "streetLegal">
  </div>
  <button
    mat-button
    matTooltip="Click this button to add the bike with the values you entered"
    type = "button" (click)="onAdd()">Add</button>
  <button
    mat-button disabled
    matTooltip="Click this button to update the bike with the values you entered"
    type = "button" (click)="onUpdate()">Update</button>
  <p>update button disabled through mat-button</p>
  <mat-radio-button>this is a mat radio button</mat-radio-button>
  <mat-radio-button>this is another mat radio button</mat-radio-button>
  <mat-checkbox>this is a mat checkbox</mat-checkbox>
  <div class = "badge">
    <p matBadge = "1">mat-badge</p>
  </div>
</form>
