<!--
    Author: Giovanni Shamoon
    Student number: 0775836
    Course: MAD307-24F-004
    Project: Assignment 1
    Program purpose: To be the html portion of the first assignment
    Date: September 11th 2024
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" >
  <title>Main</title>
</head>
<body>
<h1>Main</h1><br>
<section>
  <h2>Introduction {{introString}}</h2><br>
  <p>
    My name is {{myName}} I am 24-year-old male. I was born on December 21st, 1999, in
    Toronto, Ontario. When I was born my only sibling was my older sister. We lived in Toronto
    for the next 4 years and later moved to Windsor, Ontario before my brother was born. My siblings
    and I all went to the same schools however, we developed different hobbies the thing I felt every
    fiber in my body pulling me closer to was being a gearhead, anything with a motor I love. I also
    realized that aside from being an engineer or a mechanic there were not the many jobs that involved
    working on and building cars but being a mechanic felt more as if I would be just doing oil changes
    and basic maintenance, I wanted to build awesome cars but was not smart enough to be an engineer.
    That is when I started falling in love with computers that is when I realized that I am good enough
    at this and enjoy it enough to make it my career. Ever since then most things I have done have been
    done to get closer to that goal or to get closer to doing something special with a car.
  </p><br>
</section>
</body>
<footer>
  <h3>Resources:</h3><br>
  <h4>Copyright 2024 - MAD307 - Created by Giovanni Shamoon</h4>
</footer>
</html>
<router-outlet />
